body {
  background-color: #282c34;
}

.App {
  text-align: center;
  background-color: #282c34;
}

.clock-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  flex-wrap: wrap;
}

.App-text {
  height: 10vmin;
  pointer-events: none;
  color: #c7c9ce;
}

.App-small-text {
  height: 3vmin;
  pointer-events: none;
  color: #c7c9ce;
  margin-bottom: 15px;
}

.App-clock {
  position: relative;
  text-align: center;
  background: #c7c9ce;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-clock-container {
  text-align: center;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 240px;
  width: 240px;
}

.arrow {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  background-color: #000;
}

.hour {
  width: 6px;
  height: 30px;
  z-index: 3;
}

.minute {
  width: 4px;
  height: 60px;
  z-index: 2;
}

.second {
  width: 2px;
  height: 70px;
  z-index: 1;
}

.streak {
  position: absolute;
  transform-origin: bottom;
  background-color: #000;
  width: 3px;
  height: 7px;
}

.streak_12 {
  bottom: 95%;
  left: 50%;
  rotate: 180deg;
}

.streak_6 {
  bottom: 5%;
  left: 50%;
}

.streak_3 {
  bottom: 50%;
  left: 95%;
  rotate: 270deg;
}

.streak_9 {
  bottom: 50%;
  left: 5%;
  rotate: 90deg;
}

.streak_1 {
  bottom: 85%;
  left: 70%;
  rotate: 30deg;
}

.streak_4 {
  bottom: 30%;
  left: 85%;
  rotate: 120deg;
}

.streak_7 {
  bottom: 15%;
  left: 30%;
  rotate: 210deg;
}

.streak_11 {
  bottom: 70%;
  left: 15%;
  rotate: 300deg;
}

.streak_2 {
  bottom: 70%;
  left: 85%;
  rotate: 60deg;
}

.streak_5 {
  bottom: 15%;
  left: 70%;
  rotate: 150deg;
}

.streak_8 {
  bottom: 30%;
  left: 15%;
  rotate: 240deg;
}

.streak_10 {
  bottom: 85%;
  left: 30%;
  rotate: 330deg;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
